.team-section {
    background: var(--team-background-color);
}

.team-section__back {
    background-color: var(--pure-white-color);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.team-section__flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

// .team-section__item {
//     flex-basis: calc (100% - var(--indent) * (var(--items) - 1) / var(--items));
// }

.team-section__shadow {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-section__h2title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.team-section__h3title {
    padding-bottom: 10px;
}

.team-section__list .team-section__h3title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.team-section__list .team-section__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.team-section__text {
    margin-bottom: 16px;
}


.social-team__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.social-team__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--pure-white-color);
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-team__icon {
    fill: var(--logo-color--);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-team__link:hover {
    background-color: var(--blue-color-text);
}

.social-team__link:focus {
    background-color: var(--blue-color-text);
}

.social-team__link:focus .social-team__icon {
    fill: var(--pure-white-color);
}

.social-team__link:hover .social-team__icon {
    fill: var(--pure-white-color);
}